::-webkit-scrollbar
{
	width: 6px;
}
::-webkit-scrollbar-track
{
	background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb
{
	background-color: #c1c1c1;
	border-radius: 3px;
}
::-webkit-scrollbar-button
{
	display: none;
}
::-webkit-scrollbar-corner
{
	background-color: #ffffff;
}
/*初始化*/
body,div,ul,li,svg,g,rect,text,path
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;

	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
}
li
{
	list-style: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*选区*/
#jstool_district
{
	position: absolute;
	background: rgb(115, 161, 191,0.15);
	border: 1px solid rgb(115,161,191);
	z-index: 30;
}
/*环形菜单*/
#jstool_menu_ring
{
	position: absolute;
	bottom: 100px;
	left: 100px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: rgb(0, 0, 0, 1);
	text-align: center;
	font-weight: bold;
	color: #b9b9b9;
	cursor: pointer;
	z-index: 20;
}
#jstool_menu_ring[menu-spread = '1'],
#jstool_menu_ring[menu-drag = '1'],
#jstool_menu_ring:hover
{
	background: rgb(0, 0, 0, 0.75);
}
#jstool_menu_ring > .ring
{
	display: none;
	position: absolute;
	top: -60px;
	left: -60px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 2px solid #000000;
}
#jstool_menu_ring > .nav
{
	display: none;
	position: absolute;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	background: rgba(0, 0, 0);
}

#jstool
{
	width: 100%;
	height: 100%;
}
#jstool > #jstool_logo
{
	width: 100%;
	height: 25px;
	background-color: #e9e9e9;
	border-bottom: 1px solid #000000;
}
#jstool_logo > div
{
	height: 24px;
	line-height: 24px;
}
#jstool_logo > .iconcommand
{
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
}
#jstool_logo > .jstool_logo_word
{
	display: inline-block;
	padding-left: 10px;
	font-family: -webkit-pictograph;
}

#jstool > #jstool_panel
{
	position: absolute;
	top: 25px;
	bottom: 0;
	width: 100%;
}