.jstool_menu,
.jstool_menu li > ul
{
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	box-shadow: -1px 0 5px 0 rgba(0,0,0,.2);
	padding: 5px 0;
	background: white;
	border: 1px solid #ccc;
}
.jstool_menu li > ul
{
	z-index: 20;
}
.jstool_menu li
{
	position: relative;
	list-style: none;
	text-decoration: none;
	text-align: center;
	color: #555;
	padding: 7px 15px;
	cursor: pointer;
}
.jstool_menu li:hover
{
	background: #eee;
	color: #0AAF88;
}
.jstool_menu li > span
{
	display: inline-block;
	white-space: nowrap;
	text-align: center;
}
.jstool_menu li > span:active
{
	color: #5c6d00;
}
/*é€‰åŒº*/
.jstool_district
{
	position: absolute;
	background: rgb(115, 161, 191,0.15);
	border: 1px solid rgb(115,161,191);
}
.jstool_district[data-show = '1']
{
	display: block;
}
.jstool_district[data-show = '0']
{
	display: none;
}
.mind_svg
{
	position: absolute;
}
.mind_svg[data-grabbing = '1']{
	cursor: grabbing;
	-webkit-cursor: grabbing;
}
.node
{
	display: block;
}
.node:hover
{
	cursor: pointer;
}
.node > .node_background > .node_background_path
{
	fill: rgb(238, 243, 246);
	stroke: rgb(115, 161, 191);
}
.node[type='select'] > .node_background > .node_background_path
{
	stroke-width:3;
	stroke:rgb(57, 80, 96);
}
.node[type='hover'] > .node_background > .node_background_path
{
	stroke-width: 3;
	stroke: rgba(0, 0, 0, 0.3);
}
.node_background > .node_text
{
	cursor: pointer;
}
.node_background > .node_note
{
	cursor: pointer;
}
.node_background > .node_note:hover > .node_note_path1
{
	fill: rgba(255, 193, 193, 1);
}
.node_background > .mind_node_note > .node_note_path1
{
}
.node_background > .mind_node_note > .node_note_path2
{
}
.node_operation_path1
{
	cursor: pointer;
}
.node_operation_path2
{
	cursor: pointer;
}

.mind_box
{
	font-size: 16px;
	background-color: #ffffff;
	pointer-events: all;
	word-break: break-all;
	word-wrap: break-word;
	user-modify: read-write-plaintext-only;
	-webkit-user-modify: read-write-plaintext-only;
}

.jstool_editor
{
	position: absolute;
	right: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	border-left: 1px solid #cfcfcf;
}
.jstool_editor_body
{
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	overflow-y: auto;
	overflow-x: hidden;
}
.jstool_editor_title
{
	padding: 0 10px;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	letter-spacing: 2px;
	overflow: hidden;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e6e6e6;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jstool_editor_bar
{
	display: inline-block;
	padding: 6px 8px;
	width: 100%;
	height: auto;
	background-color: #f8f8f8;
}
.jstool_editor_menus
{
	float: left;
}
.jstool_editor_menu
{
    float: left;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    border: 1px #f8f8f8 solid;
}
.jstool_editor_menu[data-allow = '1']
{
	cursor: pointer;
}
.jstool_editor_menu[data-allow = '1']:hover
{
	border: 1px #bcbcbc solid;
    background: #e5e5e5;
}
.jstool_editor_menu[data-allow = '0']
{
	color: #c4c4c4;
}
.jstool_editor_content
{
	flex: 1;
	padding: 10px;
	border-top: 1px solid #d1d1d1;
	word-break: break-all;
	white-space: normal;
	overflow-y: scroll;
	overflow-x: hidden;
}

.rail
{
	height: 100%;
	background-color: #eaeaea;
}
.rail_move
{
	float: left;
	width: 5px;
	height: 100%;
	cursor: w-resize;
	background-color: #eaeaea;
}
.rail_hide
{
	float: left;
	display: flex;
	align-items: center;
	width: 12px;
	height: 100%;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	color: #727272;
}
.rail_hide:hover
{
	/*background-color: #dcdcdc;*/
	color: #000000;
}

#jstool_ring
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: none;
	color: white;
	background-color: #000000;
	transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	border-radius: 50%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
#jstool_ring[data-show = "1"]{
	animation:showTool 300ms infinite;
	-webkit-animation:showTool 300ms infinite; /*Safari and Chrome*/
	animation-iteration-count: 1;
	animation-fill-mode : forwards;
}
@keyframes showTool{
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
#jstool_ring[data-show = "0"]{
	animation:hideTool 300ms infinite;
	-webkit-animation:hideTool 300ms infinite; /*Safari and Chrome*/
	animation-iteration-count: 1;
	animation-fill-mode : forwards;
}
@keyframes hideTool{
	from {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
#jstool_ring:hover {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
}
#jstool_ring > div
{
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
}
#jstool_ring > div
{
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
}

.jstool_index
{
	position: absolute;
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-color: #fbfbfb;
}
.jstool_index_body
{
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10px 0 0 10px;
}
.jstool_index_body > .jstool_index_bar
{
	width: 100%;
	height: 32px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	overflow-x: hidden;
	line-height: 32px;
}
.jstool_index_bar > .jstool_index_refresh
{
	
text-align: center;
	
margin-right: 10px;
	
cursor: pointer;
}
.jstool_index_bar > .jstool_index_search
{
	flex: 1;
	display: flex;
	flex-direction: row;
}
.jstool_index_search > .jstool_index_search_input
{
	flex: 1;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background: #F0F0F5;
    outline: none;
    border: none;
}
.jstool_index_search > .jstool_index_search_icon
{
	width: 32px;
	text-align: center;
	background-color: #e8e8ee;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
}
.jstool_index_body > .jstool_index_chapters
{
	margin-top: 10px;
	flex: 1;
	border-top: 1px solid #b2b2b2;
	overflow-y: auto;
}
.index_chapter
{
	margin-right: 10px;
}
.chapter_titleCon
{
	display: flex;
	flex-direction: row;
	line-height: 32px;
}
.chapter_title
{
	flex: 1;
	cursor: pointer;
}
.chapter_showTabs
{
    width: 32px;
    margin-right: 5px;
    text-align: center;
}
.chapter_showTabs:hover
{
	color: #767676;
}
.chapter_tabs
{
	display: flex;
	flex-direction: column;
}
.chapter_keys
{

padding: 10px 0 10px 0;
}
.chapter_keys > .chapter_key
{
	margin: 2px;
	float: left;
	display: flex;
	padding: 2px;
	font-size: 14px;
	height: 20px;
	line-height: 14px;
	border-radius: 5px;
	border: 1px solid #000000;
}
.chapter_key > .key_name
{

}
.chapter_key > .cancle_key
{
	cursor: pointer;
	font-size: 14px;
	line-height: 14px;
}
.chapter_addNewkey
{
	display: flex;
	flex-direction: row;
	line-height: 30px;
}
.chapter_newKey
{
    flex:1;
    height: 30px;
    outline: none;
    border: 1px solid #e3e3e3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.chapter_addButton
{
	width: 50px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #e3e3e3;
	cursor: pointer;
}
.chapter_addButton:hover
{

}